/**
rgba():
https://www.runoob.com/note/12792
https://www.cnblogs.com/xiao-pang/p/5517222.html
https://www.html.cn/book/css/values/color/rgba.htm

https://www.tutorialspoint.com/css/css3_color.htm
https://www.w3schools.com/cssref/func_rgba.asp
*/

ul {
  width: 100%;
  background: rgba(27, 111, 221, .3);
  display: flex;
}

li {
  padding: 10px 2em;
  cursor: pointer;
  color: gray;
}

.active {
  color: black;
}
